* {
    margin: 0;
    padding: 0;
}

.popup-wrapper {
    background: blue;
    width: 400px;
    height: 600px;
}

.popup {

}

#content {

}

/* HEADER */

.header {
    background: rgb(24, 86, 255);
    padding: 20px 0 20px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
}

.title {
    margin-right: 6px;

    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.points,
.version {
    width: 85px;
    height: 40px;

    text-align: center;
}

.points:last-child {
    margin-left: 17px;
}

.points:first-child {
    margin-right: 17px;
}

.points-text {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}

#points-number {
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

/* Navbar */

.nav {

}

.nav-row {
    margin: 0 2px 0 2px;

    border-top: solid 3px rgb(253, 144, 20);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-button {
    margin-bottom: 3px;
    width: 96px;
    height: 25px;

    background: #fff;
    border: none;

    color: #000;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.nav-button:hover {
    background: rgb(253, 144, 20);
}


/*
********  Tasks Page  ********
*/


#tasks-page-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tasks-page {
    background: rgb(240, 239, 239);
    width: 98%;
    height: 444px;

    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tasks-header {
    background: rgb(216, 216, 216);
    height: 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-wrapper {
    margin: 0 10px 0 10px;
    width: 32px;
    height: 32px;
}

.add-task-button {
    background: hwb(120 3% 21%);
    width: 100%;
    height: 100%;

    border: none;
    border-radius: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #444444;
    font-size: 28px;
    font-weight: 500;
    cursor: pointer;
}

.add-task-button:hover {
    background: hwb(120 3% 16%);
}

.tasks-title {

}

#task-list-active {
    min-height: 160px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks-header-completed {
    background: rgb(216, 216, 216);
    height: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-title-completed {

}

#task-list-completed {
    min-height: 160px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#task-list-completed h4,
#task-list-active h4 {
    margin-top: 70px;
    color: red;
}

/* Add Task Modal */

.add-task-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-modal-content {
    background: rgb(252, 150, 35);
    width: 100%;
    height: 340px;

    border-top: solid 3px rgb(28, 32, 223);
    border-bottom: solid 3px rgb(28, 32, 223);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease;
}

.add-task-modal-header {
    margin-top: 6px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task-modal-title {
    font-size: 18px;
    font-weight: 700;
}

.add-task-modal-close-button {
    background: rgb(255, 42, 42);
    margin-right: 10px;
    width: 30px;
    height: 30px;

    color: #fff;
    cursor: pointer;

    border: none;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.add-task-modal-close-button:hover {
    background: rgb(218, 20, 20);
}

.add-task-modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-task-modal-input-wrapper {
    display: flex;
    justify-content: center;
}

.add-task-modal-input {
    margin-bottom: 10px;
    width: 275px;
    height: 30px;

    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.add-task-modal-textarea {
    margin-bottom: 10px;
    width: 275px;
    height: 100px;

    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    resize: none;
}

.add-task-modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-task-modal-button {
    background:rgb(24, 86, 255);
    margin-bottom: 6px;
    width: 100px;
    height: 30px;

    border: none;
    border-radius: 4px;
    cursor: pointer;

    color: #fff;
    font-size: 15px;
    font-weight: 750;
}

.add-task-modal-button:hover {
    background:rgb(24, 86, 200);
}

.filler {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.add-task-modal-content-collapsed {
    background: rgb(252, 150, 35);
    width: 100%;
    height: 0px;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease;
}

/* Task Item */

.task-item {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 70px;

    border-bottom: solid 2px rgb(243, 241, 241);

    display: flex;
    justify-content: center;
    align-items: center;
}

.task-title {
    margin: 0 10px 0 10px;
    width: 500px;
    height: 100%;

    font-size: 18px;
    font-weight: 500;
}

.task-btn-wrapper {
    margin: 0 10px 0 10px;
    width: 100px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-delete {
    background: rgb(211, 33, 33);
    margin-bottom: 8px;

    color: #fff;
}

.task-complete {
    background: hwb(120 3% 21%);
}

.task-complete,
.task-delete {
    width: 64px;
    height: 26px;

    border: none;
    cursor: pointer;
}

.task-complete:hover,
.task-delete:hover {
    opacity: 0.8;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
}